.container { 
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100vh;
  text-align: -webkit-center;
  padding-top: 50px;
}

.selectedWrapper {
  margin-top: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.image { 
  max-width: 20%;
  margin-top: 20px;
}

.inlineWrapper { 
  display: flex;
  flex-direction: row;
}

.keyWrapper {
  font-weight: bold;
  margin-right: 10px;
}

.valueWrapper {
  font-style: italic;
}